* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

body img[data-src] {
    filter: blur(0.2em);
  }
  
body img {
    filter: blur(0em);
    transition: filter 0.5s;
}
  