* {
    margin: 0;
    box-sizing: border-box;
}

html, #wrapper {
    width: 100%;
    min-height: 100%;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    padding: .5rem; 
    background-color: #785964;
    color: #F1FFFA;
    font-family: 'Koulen', cursive;
}

#logo {
    display: none;
}

nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: #785964; 
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
    border: 1px solid #F1FFFA;
}

.navigation li {
    display: none;
}

.navigation a {
	display: block;
	padding: 0.35rem;
	text-align: left;
	text-decoration: none;
	color: #F1FFFA;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover {
	color: black;
	background-color: #F1FFFA;
}

.responsive li {
    display: block;
}

main {
    grid-gap: .5rem;
}

footer {
    border: 1px solid black;
    padding: .5rem;
    background-color: #785964;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    color: #F1FFFA;
    font-family: 'Koulen', cursive;
}

#footerlogo {
    display: none;
}

a img {
    max-width: 35px;
}

#title img {
    max-width: 200px;
}

#title {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: .5rem;
}

footer .hr {
    display: block; margin: auto; margin-top: 15px;
    overflow: hidden; border-style: inset; border-width: 1px;
}

.date {
    font-family: 'Koulen', cursive;
	margin: 0.5rem;
	padding: 0.75rem;
	background-color: #D5C7BC;
    grid-column: 1/4;
    font-size: 2em;
    color: black;
}

#hero {
    position: relative;
    margin: 1rem auto;
    border: 1px solid black;
    padding: .5rem;
    background-color: #D5C7BC;
    font-family: 'Work Sans', sans-serif;
}

#hero img {
    width: 100%;
}

#top-left {
  color: #F1FFFA;
  position: absolute;
  top: 25px;
  left: 50px;
  padding: .75rem;
  background-color: #785964;
}

#bottom-right {
  color: #F1FFFA;
  position: absolute;
  bottom: 20%;
  right: 50px;
  padding: .75rem;
  background-color: #785964;
}


#weather {
    border: 1px solid black;
    padding: .5rem;
    background-color: #D5C7BC;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

#spotlights {
    margin: 1rem auto;
    border: 1px solid black;
    padding: .5rem;
    background-color: #D5C7BC;
    font-family: 'Work Sans', sans-serif;
    display: grid;
}

#spotp img {
    width: 100%;
}

#spotp {
    border: 1px solid black;
    padding: .5rem;
    text-align: center;
}

#event {
    border: 1px solid black;
    padding: .5rem;
    background-color: #D5C7BC;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

#join {
    margin: 1rem auto;
    border: 1px solid black;
    padding: .5rem;
    background-color: #D5C7BC;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

#news {
    border: 1px solid black;
    margin: 1rem auto;
    padding: .5rem;
    background-color: #D5C7BC;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

#meet {
    border: 1px solid black;
    padding: .5rem; 
    background-color: #785964;
    color: #F1FFFA;
    font-family: 'Koulen', cursive;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    font-size: xx-large;
    margin: .25rem;
}

