@media screen and (min-width: 65em) {
    .navigation {display: flex;}
    .navigation li {display: block; flex: 1 1 auto;}
    .navigation a {text-align: center;}
    .navigation li:first-child {display: none;}

    header {grid-template-columns: 1fr 1fr 1fr 1fr;}

    #logo {display: inline;}

    header .date {grid-column: 1/5;}

    footer {grid-template-columns: 1fr 1fr;}
    footer p {grid-column: 1/3;}
    footer hr {grid-column: 1/3;}
    #footerlogo {display: inline;}

    main {grid-template-columns: 1fr 1fr 1fr; }
    #hero {grid-column: 2/3; grid-row: 1/3; width: 100%;}
    #news {grid-column: 2/3; grid-row: 3/4; width: 100%;}
    #spotlights {grid-column: 3/4; grid-row: 1/4; width: 100%;
                 display: grid; grid-gap: .25rem;}
    #join {grid-column: 1/2; grid-row: 3/4; width: 100%;}
    #weather {grid-column: 1/2; grid-row: 2/3; width: 100%; margin: 1rem auto;}
    #event {grid-column: 1/2; grid-row: 1/2; width: 100%; margin: 1rem auto;}
}

    