

.weatherapi {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    text-align: center;
}

h1 {
    grid-column: 2/3;
    padding: 1rem;
}

main {
    border: 1px solid black;
    grid-column: 2/3;
}

footer {
    padding: .5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 2/3;
}