@media screen and (min-width: 65em) {
    .navigation {display: flex;}
    .navigation li {display: block; flex: 1 1 auto;}
    .navigation a {text-align: center;}
    .navigation li:first-child {display: none;}

    header {grid-template-columns: 200px 1fr 1fr 1fr;}

    #logo {display: inline;}

    #social {display: flex; flex-direction: row; flex-flow: row;justify-content: center;}

    #homemain {grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr 1fr;}
    #featuredtemple {grid-column: 2/3; grid-row: 1/3;}
    #featuredtemple p {padding: 1rem;}
    #makereservation {grid-column: 1/2; grid-row: 1/2;}
    #contactinfo {grid-column: 1/2; grid-row: 2/3;}
    #currentweather {grid-column: 3/4; grid-row: 1/2;}
    #threedayforecast {grid-column: 3/4; grid-row: 2/3;}

    .cards {grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));}

}