* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #8FB8D9;
    font-family: 'EB Garamond', serif;
    width: 100%;
    text-align: center;
    align-items: center;
    border: 1px solid black;
}

nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: #8FB8D9; 
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
    border: 1px solid black;
}

.navigation li {
    display: none;
}

.navigation a {
	display: block;
	padding: 0.35rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover {
	color: black;
	background-color: #E9E9E9;
}

.responsive li {
    display: block;
}

#logo {
    display: none;
}

#homemain {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5rem;
    padding: .5rem;
}

main img {
    padding: .5rem .5rem 0rem .5rem;
}

footer {
    border: 1px solid black;
    padding: .5rem;
    background-color: #8FB8D9;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    align-items: center;
    text-align: center;
    color: black;
    font-family: 'EB Garamond', serif;
}

footer a {
    color: black;
}

footer a:visited {
    color: #3D3D3D;
}

section {
    border: 1px solid #9CD2E0;
}