* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #8FB8D9;
    font-family: 'EB Garamond', serif;
    width: 100%;
    text-align: center;
    align-items: center;
    border: 1px solid black;
}

nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: #8FB8D9; 
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
    border: 1px solid black;
}

.navigation li {
    display: none;
}

.navigation a {
	display: block;
	padding: 0.35rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover {
	color: black;
	background-color: #E9E9E9;
}

.responsive li {
    display: block;
}

#logo {
    display: none;
}

/*HOME*/

#homemain {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5rem;
    padding: .5rem;
}

main img {
    padding: .5rem .5rem 0rem .5rem;
}

section a {
    color: black;
}

section a:visited {
    color: #3D3D3D;
}

footer {
    border: 1px solid black;
    padding: .5rem;
    background-color: #8FB8D9;
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    align-items: center;
    text-align: center;
    color: black;
    font-family: 'EB Garamond', serif;
}

footer a {
    color: black;
}

footer a:visited {
    color: #3D3D3D;
}

section {
    border: 1px solid #9CD2E0;
}

hr {
    width: 250px;
}

/*END - HOME*/

/*TEMPLES*/
.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1px;
    margin: .25rem;
    text-align: center;
    
}

#templesection {
    padding: 10px;
    margin: 10px;
    align-items: center;
    border: 1px solid #9CD2E0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#templeh2 {
    color: black;
}

#templeh1 {
    width: 100%;
    text-align: center;
    color: black;
}

/*END - TEMPLES

/*RESERVATIONS*/

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1px;
    padding: .25rem;
    text-align: left;
}

form fieldset {
    margin: 1rem;
    border: 1px solid black;
    padding: .5rem 2%;
    background-color: #CECECE;
}

form legend {
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form span {
    color: black;
}

form label.top, form div {
    display: block;
    padding-bottom: 1rem;
    color: black;
    font-size: .8rem;
}

form label.top input, form label.middle input, form label.top select {
    border: solid 1px black;
    color: black;
    background-color: white;
    width: 100%;
    font-size: 1rem;
    padding: .75rem;
    display: block;
}

form label.top input, form label.top select {
    max-width: 50rem;
}

.mem {
    padding: .75rem 0;
    color: black;
    display: flex;
    align-items: center;
}

form input.submitBtn {
    border: none;
    background-color: #CECECE;
    color: black;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: black 6px;
}

form label.top input:required:valid {
    border-left: black;
}

.required {
    color: red;
}

[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

/*END - RESERVATIONS*/

/*THANK YOU*/

#thankyoubody {
    text-align: center;
    padding: 10rem;
}

/*END - THANK YOU*/

/*SERVICES*/

#servicesmain {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    text-align: center;
    padding: .5rem;
}

#servicesmain p {
    padding: 1rem;
}

/*END - SERVICES*/

/*RECEPTIONS*/

#receptionsmain {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    text-align: center;
    padding: 2rem 10rem;
}

#receptionsmain p {
    padding: 1rem 15rem;
}

/*END - RECEPTIONS*/