header {
    text-align: center;
    font-family: 'Fascinate Inline', cursive;
    color: firebrick;
}

div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: .25rem;
    margin: .25rem;
    padding: .5rem;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    
}

main {
    background-color: antiquewhite;
    box-shadow: 5px 5px 5px 5px #888;
    border-radius: 0 0 5px 5px;
    padding: .75rem;
}

section {
    padding: 10px;
    margin: 10px;
    align-items: center;
    border: 1px solid black;
    background-color: darkseagreen;
}

img {
    box-shadow: 2px 2px 5px 2px black;
}

h2 {
    color: firebrick;
}

footer {

    text-align: center;
    padding: 1rem;
    color: firebrick;
}

