* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, #wrapper {
    width: 100%;
    min-height: 100%;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    border: 1px solid black; 
    padding: .5rem; 
    background-color: #785964;
    color: #F1FFFA;
    font-family: 'Koulen', cursive;
}

header #title {
    font-size: xx-large;
    padding: .5rem;
}

header #domain {
    font-size: large;
    padding: .5rem;
}

picture {
    background-color: #D5C7BC;
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    background-color: #D5C7BC;
}

footer {
    margin: 1rem auto;
    border: 1px solid black;
    padding: .5rem;
    background-color: #785964;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    color: #F1FFFA;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    font-family: 'Koulen', cursive;
    
}

/*
.navigation li:first-child {
    display: block;
}
*/
li {
    /*
    display: none;
    */
    justify-items: center;
    text-decoration: none;
    list-style: none;
    padding: .5rem;
    background-color: white;
}

/*
.responsive li {
    display: block;
}
*/

li {
    background-color: #D5C7BC;
    width: 100%;
    text-align: center;
    padding: .5rem;
    font-family: 'Work Sans', sans-serif;
}

li:hover {
    background-color: #F1FFFA;
    box-shadow: 0 0 30px grey;
}

a {
    display: block;
    color: black;
    text-decoration: none;
}

main {
    padding: .5rem;
    background-color: white;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 75px;
}

p {
    padding: .5rem;
}

tr {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#tcategory {
    font-weight: bold;
}

th {
    padding: .5rem;
    border: 1px solid black;
    width: 100%;
    font-weight: normal;
}

#sheader {
    background-color: #785964;
    color: #F1FFFA;
    font-size: x-large;
}

#sh1 {
    font-size: x-large;
    font-weight: bold;
}

#sli {
    background-color: #D5C7BC;
}

#slihover {
    background-color: #F1FFFA;
}

#sfooterp {
    background-color: #785964;
    color: #F1FFFA;
}

#theader {
    background-color: white;
    color: black;
    font-family: 'Koulen', cursive;
    font-size: xx-large;
}

#th1 {
    background-color: white;
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: x-large;
    font-weight: bold;
}

#tli {
    background-color: white;
    color: black;
    font-family: 'Work Sans', sans-serif;
}

#tp {
    background-color: white;
    color: black;
    font-family: 'Work Sans', sans-serif;
}

#tfooter {
    background-color: white;
    color: black;
    font-family: 'Koulen', cursive;
}