* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    border: 1px solid black; 
    padding: .5rem; 
    background-color: #785964;
    font-size: xx-large;
    color: #F1FFFA;
}

footer {
    margin: 1rem auto;
    border: 1px solid black;
    padding: .5rem;
    background-color: #785964;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
}

ul {
    display: flex;
    justify-items: center;
    text-decoration: none;
    list-style: none;
    padding: .5rem;
    background-color: #d5c7bc;
}

li:hover {
    background-color: #F1FFFA;
}