@media screen and (min-width: 32.5em) {
    header {font-size: 2.5em;}
    .navigation li:first-child {display: none;}
    .navigation li {display: grid;
                    grid-template-columns: 1fr;
                    grid-template-columns: repeat(5, 1fr);}
    #th1 {font-size: xx-large;}
    #sheader {font-size: xx-large;}
    #sh1 {font-size: xx-large;}
    p {font-size: larger;}
    #tp {font-size: larger;}
}